<a href="https://colab.research.google.com/github/swbgibbons/cal_trac/blob/main/ds_salaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import zipfile

zo = zipfile.ZipFile('/content/data_science_salaries.zip')
zo.namelist()

do = pd.read_csv(zo.open('ds_salaries.csv'))
do.head()

In [ ]:
df = do.iloc[:,1:]
df.head()

In [ ]:
df.info()

In [ ]:
df.shape

In [ ]:
us_comp = df[(df['company_location'] == 'US') & (df['salary_in_usd'] > 100000)]

In [ ]:
us_comp.shape

In [ ]:
us_ratio = (us_comp.shape[0] / df.shape[0]) * 100

In [ ]:
us_ratio

In [ ]:
senior_us = us_comp[us_comp['experience_level'] == 'SE']

In [ ]:
senior_us

In [ ]:
gb_comp = df[(df['company_location'] == 'GB') & (df['salary_in_usd'] > 100000)]

In [ ]:
gb_comp

In [ ]:
gb_ratio = (gb_comp.shape[0] / df.shape[0]) * 100
gb_ratio

In [ ]:
df['job_title'] = df['job_title'].str.lower()
title_match = df[df['job_title'].str.contains('scientist|engineer|director')]

In [ ]:
title_match

In [ ]:
remote = df.loc[~(df['employee_residence'] == df['company_location'])]
remote[['experience_level', 'job_title', 'salary', 'salary_in_usd', 'employee_residence', 'company_location', 'company_size']]

In [ ]:
df['experience_level'].value_counts()

In [ ]:
df['company_size'].value_counts()

In [ ]:
# of these large companies. How many are SE, EX and EL
exec = df[(df['company_size'] == 'L') & (df['experience_level'].str.contains('SE|EX|EL'))]
exec[['experience_level', 'job_title', 'salary', 'salary_in_usd', 'employee_residence', 'company_location']]

In [ ]:
exec.reset_index

In [ ]:
exec[['experience_level', 'job_title', 'salary', 'salary_in_usd', 'employee_residence', 'company_location']]

In [ ]:
big_sal = exec[exec['salary_in_usd'].between(60000,110000)]
big_sal_list = big_sal[['experience_level', 'job_title', 'salary_in_usd', 'employee_residence', 'remote_ratio', 'company_location', 'company_size']]

In [ ]:
big_sal_list.info()

In [ ]:
big_sal_list[big_sal_list['company_location'].str.contains('US|CA|MX|IN|DE|ES')].sort_values(by='salary_in_usd',ascending=True)

In [ ]:
bz = big_sal_list

In [ ]:
df.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2020,MI,FT,data scientist,70000,EUR,79833,DE,0,DE,L
1,2020,SE,FT,machine learning scientist,260000,USD,260000,JP,0,JP,S
2,2020,SE,FT,big data engineer,85000,GBP,109024,GB,50,GB,M
3,2020,MI,FT,product data analyst,20000,USD,20000,HN,0,HN,S
4,2020,SE,FT,machine learning engineer,150000,USD,150000,US,50,US,L